.onetweet-buttons {
  width: 350px;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px 4px 0px 0px;
  border-style: none;
  border-width: 1px 1px 0px 1px;
  border-color: rgba(225, 232, 237);
  text-align: center;
}

.onetweet-button {
  margin-left: 3px;
  z-index: 66;
}

.onetweet-tweet {
  margin-left: 10px;
  margin-top: 10px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
}

.twitter-tweet{
  margin-top: 0px !important;
  transform: none !important;
}

.MediaCard-media, .EmbeddedTweet-ancestor, .EmbeddedTweet-tweet {
  z-index: 66;
}
